
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 3.5rem 0 2.5rem 0;
  padding-top: 50px;
  background: rgb(241, 241, 241);
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 35px;
}

.footer ul li {
  margin-bottom: 15px;
}

.footer a {
  color: rgb(0, 23, 99);
}

.footer .copyright {
  margin-bottom: 0px;
  text-align: center;
}

.footer .copyright,
.footer .credits {
  font-size: 14px;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000e3b;
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #ffffff;
  line-height: 0;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: rgb(0, 16, 70);
  background: #ffffff;
}

.social a i {
  line-height: 0;
}
@media only screen and (max-width: 540px){
  .social{
    text-align: center;
  }
  .footer h3{
    text-align: center;
  }
}



.btn-flotante {
	font-size: 10px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #023a00; /* Color del texto */
	border-radius: 55px; /* Borde del boton */
	background-color: #0c920000; /* Color de fondo */
	padding: 10px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 20px;
	left: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.589);
	z-index: 9;
}
.btn-flotante:hover {
	background-color: #00a545; /* Color de fondo al pasar el cursor */
	transform: translateY(-7px);
}
/* @media only screen and (max-width: 540px) {
.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}  */
.wpp{
  height: 35px;
  
}







.btn-flotante1 {
	position: fixed;
	bottom: -4.9%;
	left: 5.3%;
	z-index: 1;
}
@media only screen and (max-width: 600px) {
  .btn-flotante1 {
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
  
} 
.wpp1{
  height: 605px;
  opacity: 0.1;
}