
/* --------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/* .footer {
  padding: 3.5rem 0 2.5rem 0;
  padding-top: 50px;
  background: rgb(241, 241, 241);
}

.footer h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

.footer ul li {
  margin-bottom: 15px;
  text-align: left;
}
.footer ul li a:hover {
  color: rgb(0, 230, 218);
}

.footer a {
  color: rgb(0, 23, 99);
}

.footer .copyright {
  margin-bottom: 0px;
  text-align: center;
}

.footer .copyright,
.footer .credits {
  font-size: 14px;
}

.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000e3b;
  position: relative;
  text-align: center;
  transition: 0.3s background ease;
  color: #ffffff;
  line-height: 0;
}

.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social a:hover {
  color: rgb(0, 16, 70);
  background: #ffffff;
}

.social a i {
  line-height: 0;
}
@media only screen and (max-width: 540px){
  .social{
    text-align: center;
  }
  .footer h3{
    text-align: center;
  }
}
 */
 #footer {
  background: #00193a;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #11447e;
  color: #fff;
  border-top: 4px solid #ffffff;
  text-align: center;
  padding: 30px 20px;
}

#footer .footer-top .footer-info h3 {
  color: #fff;
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top .social-links a {
  font-size: 39px;
  display: inline-block;
  background: #002999;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 56px;
  height: 56px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #00cccc;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #1be7d6;
  font-size: 24px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgb(255, 255, 255);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #00d1d1;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}



#footer .copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #c0a1a1;
}

@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

.btn-flotante {
	font-size: 10px; /* Cambiar el tamaño de la tipografia */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #023a00; /* Color del texto */
	border-radius: 55px; /* Borde del boton */
	background-color: #0c920000; /* Color de fondo */
	padding: 10px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 20px;
	left: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.589);
	z-index: 9;
}
.btn-flotante:hover {
	background-color: #00a545; /* Color de fondo al pasar el cursor */
	transform: translateY(-7px);
}
/* @media only screen and (max-width: 540px) {
.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}  */
.wpp{
  height: 35px;
  
}








.btn-flotante1 {
	position: fixed;
	bottom: -4.9%;
	left: 5.3%;
	z-index: 1;
}
@media only screen and (max-width: 600px) {
  .btn-flotante1 {
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
  
} 
.wpp1{
  height: 605px;
  opacity: 0.1;
}




/*--------------------------------------------------------------
# interes
--------------------------------------------------------------*/
.interes .box {
  padding: 0px;
  background: #00456d;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.interes .box h3 {
  font-weight: 400;
  padding: 15px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.interes .box ul {
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.interes .box ul li {
  padding-bottom: 16px;
  color: #ffffff;
}

.interes .box ul i {
  color: #3ae0bc;
  font-size: 18px;
  padding-right: 4px;
}

.interes .box ul .na {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through;
}

.interes .box .btn-wrap {
  padding: 15px;
  text-align: center;
}

.interes .box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.interes .box .btn-buy:hover {
  border-color: #fff;
}

.interes .featured {
  background: #007c7ce3;
  padding-top: 10px;
}


@media only screen and (max-width: 600px){
  .complejo .maps{
  width: 400px;
  height: 356px;
  }
  .complejo #iimg{
    width: 200px;

  }
}
